.app.dark {

  --bg-color: #07075aa4;
  --inverted-bg-color: #a3a3b6a4;
  --primary-color: #7ead7e;
  --secondary-color: #1e8f1e;
  --inverted-primary-color: #131594;
  --inverted-secondary-color: #6971e0;
}
